<header class="bg-white is-screen bs-20">
    Header
</header>
<main class="pli-40 plb-6">
    <h1 class="mbe-10">Mit den Winterhärtezonen von 1a bis 13b lässt sich herausfinden ...?</h1>
    <div class="flex flex-col">
        <button
            class="border-tropical-indigo hover:bg-tropical-indigo/20">
            ... welches Frostschutzmittel für ein Fahrzeug geeignet ist
        </button>
        <button
            class="border-violet hover:bg-violet/20">
            ...wie der Heizkessel einer Gasheizung eingestellt werden muss
        </button>
        <button
            class="border-lavender-pink hover:bg-lavender-pink/20">
            ... welche Tiefsttemperatur Pflanzen ohne Schäden überstehen können
        </button>
    </div>
</main>
